/* Page background */

body{
font-family: Arial, sans-serif;
background-image: url("https://i.pinimg.com/736x/4b/fd/7d/4bfd7d496ddbdf4151068e7cf5d06c20.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}


/* Glassmorphism form */

.glass-form{

width: 600px;
padding: 40px;

background: rgba(255,255,255,0.2);

border-radius: 15px;

backdrop-filter: blur(10px);

box-shadow: 0 8px 32px rgba(0,0,0,0.3);

color: white;

}


/* Inputs */

.form-control,
.form-select{

background: rgba(255,255,255,0.8);

border: none;

}


/* Labels */

label{
font-weight: bold;
}


/* Title */

h2{
font-weight: bold;
}
</div>

</body>
</html>
